* {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}

body {
    font-family: "Varela Round", sans-serif;
}

header {
    background-color: black;
    color: aliceblue;
    font-size: 45px;
    margin-left: 390px;
    padding-left: 30px;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feed {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    margin-left: 630px;

}

.container-main {
    display: flex;
    justify-content: center;
    width: 700px;
    margin-top: -50px;
    margin-left: 228px;
}

.left-container {
    border: 4px solid black;
    width: 180px;
    height: 200px;
    margin-left: 125px;
    padding-top: 30px;
    margin-top: 80px;
    font-family: "Varela Round", sans-serif;
    text-align: center;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-bottom: 20px;
}

.avatar {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    color: blue;
}

.name {
    padding-top: 30px;
}

.right-container {
    width: 300px;
    padding-top: 10px 5px;
    margin-left: 10px;
}
.link {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    color: blue;
}

.comic {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    color: blue;
}

.album {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    color: blue;
}

.container {
    border: 4px solid black;
    margin: 80px 120px;
    width: 400px;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
}

.btn {
    width: 60px;
    height: 30px;
    background-color: #FFD966;
    color: black;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    font-weight: bold;

}

.content {
    padding: 20px;
    font-size: 20px;
}

body {
    height: 3000px;
    width: 1000PX;
}
